{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock title %}</title>

    <!-- Link to the delete_page.css file -->
    <link rel="stylesheet" href="{% static 'css/deletebd.css' %}">
</head>
<body>
    <!-- Navbar Section -->
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/bird/birdhome">Bird Home</a></li>
                <li><a href="/bird/create">Create Bird</a></li>
            </ul>
        </nav>
    </header>

    <!-- Content Section -->
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2025 Bird Website</p>
    </footer>
</body>
</html>
